<html>
  <head>
    <title>
      Meadowlark Travel
    </title>
    <link rel='stylesheet' href='https://unpkg.com/mvp.css@1.12/mvp.css' />
  </head>
  <body>
    <header>
      <img src='/img/logo.png' alt='Meadowlark Travel Logo' />
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>